################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProdCons/obj/Debug
/.vs/ProdCons/v15/Server/sqlite3
/.vs/ProdCons
/ProdCons/obj/Release
/CompiledProducts/30052019064224.txt
/CompiledProducts/30052019063842.txt
/CompiledProducts/30052019063749.txt
/CompiledProducts/29052019093018.txt
/CompiledProducts/29052019092949.txt
