################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProdCons/obj/Debug
/.vs/ProdCons/v15/Server/sqlite3
/.vs/ProdCons
/ProdCons/obj/Release
